#yetAnotherFeature {
	width: 80%;
	height: 100%;
	float: left;
	background-color: rgba(0, 72, 126, 0.45);
	overflow: auto;
	overflow-x: hidden;	
}

#yetAnotherFeature p {
	margin: 26px;
	text-align: left;
	font-size: 80%;
	color: white;
}