#yetAnotherFeature {
	width: 80%;
	height: 100%;
	float: left;
	background-color: rgba(0, 72, 126, 0.45);
	overflow: auto;
	overflow-x: hidden;
}

#yetAnotherFeature div.self {
	margin: 24px;
}

#gmap {
	margin: 24px;
}

#yetAnotherFeature div.text {
}

#yetAnotherFeature div.text p {
	margin-top: 12px;
	margin-bottom: 12px;
	text-align: left;
	font-size: 125%;
	color: white;
	text-align: left;
}