#search {
	/*
	background-color: yellow;
	*/
	width: 80%;
	height: 100%;
	float: left;
	background-color: rgba(0, 72, 126, 0.45);
	overflow-x: hidden;
	overflow: auto;
}

/*
#search img {
	width: 149px;
	height: 140px;
	margin-top: 45%;
}
*/
p {
	margin: 26px;
	text-align: left;
	font-size: 80%;
	color: white;
}