#chat {
	/*
	background-color: green;
	*/
	width: 23%;
	height: 100%;
	float: left;
	/*
	background-color: rgba(0, 72, 126, 0.35);
	*/
}

/*
#chat img {
	width: 149px;
	height: 140px;
	margin-top: 45%;
}
*/