#contacts {
	width: 20%;
	height: 100%;
	background-color: rgba(0, 150, 255, 0.35);
	overflow: hidden;
	overflow-x: hidden;	
}

#contacts div.self {
	height: 100%;	
	overflow: auto;
	overflow-x: hidden;
}

#contacts div.separator {
	width: 1px;
	height: 100%;
	background-color: white;
	float: left;
}

#contacts div.contact {
	height: 5%;
	min-height: 72px;
	border-bottom: 1px solid white;
	overflow: hidden;	
}

#contacts span.name {
	color: white;
	font-size: 70%;
}

#contacts div.contact img {
	opacity: 0.95;
	vertical-align: middle;
	margin-top: 2px;
	margin-right: 4px;
	margin-left: 4px;
}