#header {
	/*
	border-bottom: 1px solid rgba(66, 66, 66, 0.45);
	*/
}

#header img {
	height: 100%;
	opacity: 0.72;
	vertical-align: middle;
	float: left;
}

#header div.middle {
	margin-right: 2px;
	float: right;
}