.header .self img {
	height: 100%;
	opacity: 0.72;
	vertical-align: middle;
}

.header .self .blocks {
	float: right;
	height: 100%;
}

.header .self .blocks div {
	float: right;
}

.header  .middle div {
	margin: 2px;
	padding: 2px;
}