#home {
	width: 1140px;
	height: 714px;
	background-color: rgb(100, 130, 170);
	border: 2px solid white;
	border-radius: 6px;
	margin: 0 auto;
	margin-top: 2.5%;
}

#header {
	height: 5%;
}

#footer {
	height: 5%;
	text-align: center;
	margin: 9px;
}