@import url(common.css);

#home {
	margin: 0 auto;
	border: 1px dotted rgba(255, 255, 255, 0.5);
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#home {
	width: 70%;
	height: 85%;
	border: 3px solid rgba(255, 255, 255, 0.55);
	border-radius: 4px;
	box-shadow: 6px 6px 18px 1px rgba(27, 73, 126, 0.33);
}