body {
	margin: 0;
	padding: 0;
	color: rgb(0, 72, 126);
	font-family: 'Ubuntu', sans-serif;
	font-size: 150%;
	background-color: rgb(139, 154, 173);
	min-height: 320px;
	min-width: 320px;
}

a:link {
	text-decoration: none;
	color: white;
	color: rgb(0, 72, 126);
}

a:visited {
	text-decoration: none;
	color: white;
	color: rgb(0, 72, 126);
}

a:active {
	text-decoration: underline;
	color: white;
	color: rgb(0, 72, 126);
}

a:hover {
	text-decoration: underline;
	color: white;
	color: rgb(0, 72, 126);
}