body {
	margin: 0;
	padding: 0;
	color: rgb(0, 72, 126);
	/*
	font-family: sans-serif;
	font-family: 'Mouse Memoirs', sans-serif;
	font-family: 'Francois One', sans-serif;
	*/
	font-family : 'Ubuntu', sans-serif;	
	font-size: 135%;
	/* just here for sandbox decoration *
	background-color: rgb(139, 154, 173);
	overflow: hidden;
	margin: 0 auto;
	border: 3px solid rgba(255, 255, 255, 0.55);
	border-radius: 4px;
	box-shadow: 6px 6px 18px 1px rgba(27, 73, 126, 0.33);	
	width: 1024px;
	height: 600px;
	margin-top: 50px;
	/**/
}

#overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	margin: 0;
	padding: 0;
	background-color: #373B3F;
	z-index: 9999999999999999;
}

#overlay div {
	width: 250px;
	height: 250px;
	margin-left: -125px;
	margin-top: -125px;
	position: fixed;
	top: 50%;
	left: 50%;
}

a:link {
	text-decoration: none;
	color: white;
	color: rgb(0, 72, 126);
}

a:visited {
	text-decoration: none;
	color: white;
	color: rgb(0, 72, 126);
}

a:active {
	text-decoration: underline;
	color: white;
	color: rgb(0, 72, 126);
}

a:hover {
	text-decoration: underline;
	color: white;
	color: rgb(0, 72, 126);
}