.main>.page {
	width: 80%;
	height: 100%;
	float: left;
	overflow-x: hidden;
	overflow: hidden;
}

.main>.contacts {
	overflow: hidden;
	float: left;
	width: 20%;
	background-color: rgb(100, 130, 170);
}

.main {
	overflow: hidden;
}