.page > .self {
	height: 100%;
}

.page div.text {
	background-color: rgba(244, 141, 64, 1);
	padding: 22px;
	border-bottom: 1px solid white;
}

.page div.text p {
	font-size: 190%;
	color: rgb(44, 71, 117);
	color: rgb(234, 221, 210);
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 11px;
	padding-bottom: 11px;
}

#gmap {
	margin: 0;
}